* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: cursive;
    background-color: black;
}

h1 { font-size: 3.5rem;}
h2 { font-size: 2.7rem;}
h3 {font-size: 2rem;}

button {
    font-size: 2rem;
    font-weight: bold;
    padding: 0.5rem;
    border-radius: 15px;
    border: 2px solid rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    color: white;
    background-color: blueviolet;
}

button:hover {
    background-color: yellow;
}

.container {
    max-width: 1920px;
    margin: auto;
}

header {
    justify-content: left;
}

#colegio h1 {
    margin: auto;
    color: rgb(15, 15, 65);
}

#colegio{
    padding: 21px 30px;
    display: flex;
    background-color: #8498a9;
    font-family: sans-serif;
}

#colegio img {
    padding-left: 30px ;
}

#nav {
    display: flex;
    /* flex-direction: row; */
    float: center;
    padding-right: 30px;
    background-color: #9cb5c9;
    padding: 20px;
    align-items: right;
    position: relative;
}
#nav a{
    display:inline;
    text-decoration: none;
    font-weight: bold;
    padding-left: 30px;
    font-size: 30px;
    position:relative
}

#nav a:hover {
    color: yellow;
}

#matriculate {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    color: white;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url(https://cutt.ly/5LieBfA);
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center center;
}

#Boton {
    margin: 5px;
}

#cursos {
    display: flex;
    background-color: #272a2c;
    color:rgb(
        245, 245, 245);
    height: 20vh;
    position: relative;
}

.carta:first-child{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ),
    url(https://www.elfinancierocr.com/resizer/JhVRWmNsSjzHNCVwWgUZtZdM95A=/arc-anglerfish-arc2-prod-gruponacion/public/W26K646AO5DHXC2T72N7PJZGSI.jpg);
    background-repeat:repeat;
    background-size: cover;
    background-position: center center;
    padding: 20px;
}

.carta:nth-child(2){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ),
    url(https://image.spreadshirtmedia.net/image-server/v1/compositions/T20A2PA5098PT17X114Y0D178174561S100/views/1,width=650,height=650,appearanceId=2.jpg);
    background-size: cover;
    background-repeat:no-repeat ;
    background-position: center center;
    padding: 20px;
}

.carta:nth-child(3) {
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ),
    url(https://i1.wp.com/susanalogy.com/wp-content/uploads/2016/09/profesor-durmiendo.jpg?ssl=1);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 20px;
    /* background-size: 100%; */
}

#copy {
    color:rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    font-size: 27px;
    position: relative;
}

#num {
    position: absolute;
    top: 20%;
    left: 47%;
}

#nav a {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:#272a2c

}

#cursos a{
    text-decoration: none;
    font-weight: bold;
    padding-left: 30px;
    font-size: 10%px;
    color: rgb(255, 255, 255);
    border-radius: 15px;
    font-style: italic;
    font-weight: bold;
}

.carta:hover h1{
    color: aqua;
    font-size: 68px;
}

.carta:hover {
    width: auto;
    color: aqua;
    box-shadow: 15px 15px 15px 15px rgba(0, 0, 0, 0.5);
}
.form {
    flex-direction: column;
}

#log {
    background-color: rgb(30, 30, 30);
    font-size: 1.5vh;
    margin: 3px;
    font-weight: bold;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.5);
}

#log:hover {
    background-color: #8498a9;
}

#top {
   position: absolute;
   left: 50%;
}

#ingles {
    position: absolute;
    height: 100%;
    left: 45%;
}#reli {
    position: absolute;
    height: 100%;
    left: 9%;
}#ept {
    position: absolute;
    height: 100%;
    left: 83%;
}